# SYMLINKS
root

# Bibliography Databases
stdRef
bibfile.bkp
JULIA
THEO
THER

# Compiling metadata
*.info

# Beamer themes
beamer
beamer*theme*

# Converted figures
fig/*pdf
www/*pdf

# Downloaded figures
www/*svg
www/*jpg
www/*jpeg
www/*png

