# Temporaries
Slide1.png
Slide2.png
Slide2-alpha.png
X2001-en-PRES.pdf
X2001-en-PRES.png

# SYMLINKS
01-FTHA
root
src

# Bibliography Databases
stdRef
bibfile.bkp

# Compiling metadata
*.info

# Beamer themes
beamer
beamer*theme*

# Converted figures
fig/*pdf

# Downloaded figures
fig/P-V_diagram_deviations_to_Otto_cycle.svg

